@font-face {
  font-family: LogoFont;
  src: url("../assets/fonts/alpha kufi regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  position: relative;
}

.tester {
  width: 100%;
  height: 200px;
  background: inherit;
  position: relative;
  z-index: 99;
}

h1 {
  color: #fff;
}

.main-section {
  position: relative;
  z-index: 0;
}

.main-section header {
  position: relative;
  width: 100%;
  height: 80px;
  padding: 5px 10px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

@media (min-width: 767px) {
  .main-section header {
    height: 90px;
    padding: 10px 15px;
  }
}

@media (min-width: 1024px) {
  .main-section header {
    height: 90px;
    padding: 10px 15px;
  }
}

.main-section header .logo-section {
  opacity: 1;
  -webkit-transition: opacity ease-in-out 0.5s;
  transition: opacity ease-in-out 0.5s;
}

.main-section header .logo-section a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

.main-section header .logo-section a img {
  width: 1.8rem;
  margin-right: 10px;
}

@media (min-width: 767px) {
  .main-section header .logo-section a img {
    width: 2.1rem;
  }
}

@media (min-width: 1024px) {
  .main-section header .logo-section a img {
    width: 2.3rem;
  }
}

.main-section header .logo-section a h1 {
  font-family: LogoFont, sans-serif;
  font-size: 1.8rem;
  margin: 0;
  color: #fff;
}

@media (min-width: 767px) {
  .main-section header .logo-section a h1 {
    font-size: 2.2rem;
  }
}

@media (min-width: 1024px) {
  .main-section header .logo-section a h1 {
    font-size: 2.4rem;
  }
}

.main-section header .hide-logo-section {
  opacity: 0;
}

.main-section header nav {
  width: 50%;
  min-width: 520px;
  display: none;
}

@media (min-width: 767px) {
  .main-section header nav {
    display: block;
  }
}

@media (min-width: 1024px) {
  .main-section header nav {
    display: block;
  }
}

.main-section header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  margin: auto;
}

.main-section header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.95rem;
  line-height: 25px;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-transition: background-color ease-in-out 100ms;
  transition: background-color ease-in-out 100ms;
}

@media (min-width: 1024px) {
  .main-section header nav ul li a {
    font-size: 1.05rem;
  }
}

.main-section header nav ul li a:hover {
  background: #25292f;
}

.main-section header nav ul li .active {
  background-color: #fff;
  color: #000;
}

.main-section header nav ul li .active:hover {
  background-color: #fff;
  color: #000;
}

.main-section header .hamburger {
  display: block;
  cursor: pointer;
  padding: 10px;
}

.main-section header .hamburger > img {
  width: auto;
}

@media (min-width: 767px) {
  .main-section header .hamburger {
    display: none;
  }
}

@media (min-width: 1024px) {
  .main-section header .hamburger {
    display: none;
  }
}

.main-section .side-nav {
  position: fixed;
  opacity: 1;
  pointer-events: all;
  top: 0;
  left: 0;
  z-index: 99;
  -webkit-transition: opacity ease-in-out 0.5s;
  transition: opacity ease-in-out 0.5s;
  width: 100%;
  height: 100%;
  background-color: #121e34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section .side-nav .cross {
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 5px 10px;
}

@media (min-width: 767px) {
  .main-section .side-nav .cross {
    padding: 10px 15px;
  }
}

@media (min-width: 1024px) {
  .main-section .side-nav .cross {
    padding: 10px 15px;
  }
}

.main-section .side-nav .cross .hamburger-close {
  padding: 10px;
  cursor: pointer;
}

.main-section .side-nav .cross .hamburger-close > img {
  width: auto;
}

.main-section .side-nav ul {
  list-style: none;
  padding: none;
}

.main-section .side-nav ul li {
  margin: 10px 0 !important;
}

.main-section .side-nav ul li a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-align: center;
  width: 100px;
  padding: 10px;
  background-color: #000;
}

.main-section .hide-side-nav {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.main-section .main-body {
  color: #fff;
}
/*# sourceMappingURL=home.css.map */